<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Section</title>
    <link rel="stylesheet" href="./static/css/main.css">
</head>
<body>
    <div class="parent">
        <h1>AI BILLER TRAINING SECTION</h1><br>
        <form action="/collect-images" method="post">
            <button type="submit" class="button-71" role="button">Start</button>
        </form>
    </div>
    <img class="rotates" src="./static/images/main.png" alt="image">

</body>
</html>
