<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2. Label Images</title>
    <link rel="stylesheet" href="../static/css/step2.css">
</head>
<body>
    <div class="step">
        <h1>AI BILLER TRAINING SECTION</h1><br>
    </div>
    <div class="son">
        <img class="label" src="./static/images/step2.png" alt="img">
        <form method="post" action="/train-model">
            <button type="submit" class="styled">Label Images</button>
        </form>
    </div>
    <div class="soon">
        <h2>Step-2:-</h2>
        <p class="pii">Label images</p>
    </div>
    <h3 class="extra">Label {{number}} images</h3>
</body>
</html>
